Repository Hyp-ed/hyped-2022, pull requests merged in 2021-11, with the labels that each got.

#83 Fix compilation on MacOS and add cross-compilation for Linux
  .github/workflows/bbb.yml
  .github/workflows/linux.yml
  CMakeLists.txt
  install-cc.sh
  test/state_machine/run.test.cpp
Labels: build-system

#75 Main.cpp/.hpp Cleanup
  src/propulsion/main.cpp
  src/propulsion/main.hpp
Labels: motor-controllers

#47 Tel clean up client.[ch]pp
  src/telemetry/client.cpp
  src/telemetry/client.hpp
  src/telemetry/main.cpp
  src/telemetry/recvloop.cpp
  src/telemetry/recvloop.hpp
Labels: telemetry, easy

#61 NAV: IMU Data Logger Cleanup
  src/navigation/imu_data_logger.cpp
  src/navigation/imu_data_logger.hpp
  src/navigation/main_log.cpp
Labels: navigation

#78 QA cleanup utils
  src/utils/logger.cpp
  src/utils/timer.cpp
  src/utils/timer.hpp
Labels: quality-assurance, easy

#94 MGT: Fix GTest build
  lib/gtest.cmake
Labels: build-system, easy

#77 Modified safety ranges for the batteries according to the information on wiki
  src/sensors/bms_manager.cpp
Labels: sensors, easy

#91 Replaced default with individual states
  src/brakes/main.cpp
  src/navigation/main.cpp
  src/propulsion/main.cpp
  src/sensors/gpio_manager.cpp
Labels: state-machine, easy

#82 NAV: main_log.cpp/hpp Cleanup
  src/navigation/main_log.cpp
  src/navigation/main_log.hpp
Labels: navigation, easy

#88 counting packages sent
  src/telemetry/sendloop.cpp
  src/telemetry/writer.cpp
  src/telemetry/writer.hpp
  test/state_machine/run.test.cpp
  test/state_machine/transitions.test.cpp
Labels: telemetry, moderate

#93 STM - addded pre-calibrating as a sub-state
  src/data/data.cpp
  src/data/data.hpp
  src/state_machine/state.cpp
  src/state_machine/state.hpp
  test/state_machine/run.test.cpp
  test/state_machine/state.test.cpp
Labels: state-machine, hard
