Repository Hyp-ed/hyped-2022, pull requests merged in 2022-02, with the labels that each got.

#99 STM - adding PreBraking and Failure PreBraking
  src/data/data.cpp
  src/data/data.hpp
  src/sensors/gpio_manager.cpp
  src/state_machine/state.cpp
  src/state_machine/state.hpp
  src/state_machine/transitions.cpp
  src/state_machine/transitions.hpp
  test/state_machine/run.test.cpp
  test/state_machine/state.test.cpp
Labels: state-machine

#108 MTC Warning message fix
  src/propulsion/controller.cpp
Labels: motor-controllers, easy

#111 Removed using keywords from all tests and changing structs to classes
  test/state_machine/state.test.cpp
  test/state_machine/transitions.test.cpp
  test/telemetry/writer_convert_module_status.test.cpp
  test/telemetry/writer_convert_state_machine_state.test.cpp
  test/utils/differentiator.test.cpp
  test/utils/integrator.test.cpp
  test/utils/kalman_multivariate.test.cpp
  test/utils/online_statistics.test.cpp
  test/utils/quaternion.test.cpp
  test/utils/rolling_statistics.test.cpp
  test/utils/vectors/vector_basic.test.cpp
  test/utils/vectors/vector_float.test.cpp
  test/utils/vectors/vector_operations_with_vectors.test.cpp
  test/utils/vectors/vector_properties.test.cpp
Labels: state-machine, navigation, telemetry, testing

#114 MTC file reader header
  src/propulsion/file_reader.hpp
Labels: motor-controllers, easy
