Repository Hyp-ed/hyped-2022, pull requests merged in 2022-03, with the labels that each got.

#121 stm - added PreReady
  src/data/data.cpp
  src/data/data.hpp
  src/navigation/main.cpp
  src/propulsion/main.cpp
  src/sensors/gpio_manager.cpp
  src/state_machine/state.cpp
  src/state_machine/state.hpp
  src/telemetry/writer.cpp
  test/state_machine/run.test.cpp
  test/state_machine/state.test.cpp
Labels: state-machine

#102 Sns pressure
  src/data/data.cpp
  src/data/data.hpp
  src/sensors/fake_temperature.cpp
  src/sensors/fake_temperature.hpp
  src/sensors/interface.hpp
  src/sensors/main.cpp
  src/sensors/main.hpp
  src/sensors/pressure.cpp
  src/sensors/pressure.hpp
  src/sensors/temperature.cpp
  src/sensors/temperature.hpp
Labels: sensors, moderate

#117 Tel gui fix
  .gitignore
  configurations/config.json
  configurations/fake_config.json
  src/navigation/navigation.hpp
  src/sensors/fake_batteries.cpp
Labels: telemetry

#131 MTC - Static rpm regulator
  src/propulsion/rpm_regulator.hpp
  src/propulsion/state_processor.cpp
  src/propulsion/state_processor.hpp
Labels: motor-controllers, moderate

#116 Refactored outlier detection function
  src/navigation/navigation.cpp
  src/navigation/navigation.hpp
Labels: navigation, moderate

#84 started implementing additional and status data packing
  .gitignore
  configurations/config.json
  src/telemetry/sender.cpp
  src/telemetry/sender.hpp
  src/telemetry/writer.cpp
  src/telemetry/writer.hpp
  test/telemetry/writer_pack_data.test.cpp
Labels: telemetry, testing, moderate
