Repository Hyp-ed/hyped-2022, changes with the owners that CODEOWNERS names for each.
All owners: @MiltFra, @TomLonergan03, @maxguy2001, @kshxtij, @SnickeyX, @arjunnaha, @adenhaus

CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Mr. Head of Software
* @MiltFra

# Brakes
/src/brakes/ @TomLonergan03

# Data
/src/data/ @MiltFra

# Navigation
/src/navigation/ @maxguy2001

# Propulsion
/src/propulsion/ @TomLonergan03

# Sensors
/src/sensors/ @kshxtij

# State machine
/src/state_machine/ @SnickeyX

# Telemetry
/src/telemetry/ @arjunnaha @adenhaus
/configurations/fake_config.json @arjunnaha @adenhaus

# Utilities
/src/utils/ @MiltFra

Moved nucleo manager to unique ptr
  src/propulsion/state_processor.cpp
  src/propulsion/state_processor.hpp
Owners: @TomLonergan03

Nucleo manager owns own logger
  src/propulsion/nucleo_manager.cpp
  src/propulsion/nucleo_manager.hpp
  src/propulsion/state_processor.cpp
Owners: @TomLonergan03

Static rpm regulator
  src/propulsion/rpm_regulator.cpp
  src/propulsion/rpm_regulator.hpp
  src/propulsion/state_processor.cpp
  src/propulsion/state_processor.hpp
Owners: @TomLonergan03

Moved constructor to private
  src/propulsion/rpm_regulator.hpp
Owners: @TomLonergan03

Fix static declaration
  src/propulsion/rpm_regulator.cpp
Owners: @TomLonergan03

change allowed error size, call critical failure directly in disagreement case
  src/data/data.hpp
  src/navigation/navigation.cpp
Owners: @MiltFra, @maxguy2001

formatting
  src/data/data.hpp
Owners: @MiltFra

inititialise encoder timestamps
  src/navigation/navigation.cpp
Owners: @maxguy2001

removed encoder data from data.hpp and tidied up
  src/data/data.hpp
  src/navigation/navigation.cpp
  src/navigation/navigation.hpp
  src/state_machine/transitions.cpp
  src/telemetry/writer.cpp
  test/randomiser.hpp
  test/state_machine/run.test.cpp
  test/state_machine/state.test.cpp
  test/state_machine/transitions.test.cpp
Owners: @MiltFra, @maxguy2001, @SnickeyX, @arjunnaha, @adenhaus

tidying up
  src/navigation/navigation.cpp
Owners: @maxguy2001

tidy code
  src/navigation/navigation.cpp
Owners: @maxguy2001

requested changes
  src/navigation/navigation.cpp
  src/navigation/navigation.hpp
Owners: @maxguy2001
